
<%- include('../Includes/header.ejs') %>
<title><%= title%></title>
</head>
<body>
    <%- include('../Includes/navigation.ejs')%>

<div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= cart_value.productName %></h5>
          <p class="card-text"><%= cart_value.productDescription %></p>
          <p class="card-text"><%= cart_value.productPrice %></p>
        </div>
        <form>        
          <ul class="list-group list-group-flush">
          <li class="list-group-item">productId</li>
          <li class="list-group-item">quantity</li>
          <li class="list-group-item">userId</li>
          <li class="list-group-item">cart</li>
        </ul>
      </form>

        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      
</div>


    <%- include('../Includes/footer.ejs')%>