<%- include('../Includes/header.ejs') %>
    <title><%= title%></title>
   
    <link rel="stylesheet" type="text/css" href="/CSS/product_shop.css">
</head>
<body>
    
<%- include('../Includes/navigation.ejs') %>


<div class="container md-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 30rem; ">
    <img src="../<%= shop_value.productImage%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= shop_value.productName %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= shop_value.productPrice %></h6>
      <p class="card-text"><%= shop_value.productDescription %></p>
         <a href="/addToCartPage/<%= shop_value._id%>" class="btn mr-2"><i class="fas fa-link"></i>AddToCart</a>
      <a href="#" class="btn "><i class="fab fa-github"></i> BuyNow</a>
    </div>
    </div>
      </div>    
             
    </div>
    </div>
<%- include('../Includes/footer.ejs') %>